* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(156, 215, 235);
   
}

.maincontainer {
    width: 40vmax;
    height: 20vmax;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    left: 30%;
    top: 25%;
    border-radius: 10px;
    background-color: gray;
}


.maincontainer input {
    width: 20vmax;
    height: 2vmax;
    margin: 10px;
}



#calculate {
    cursor: pointer;
    width: 13vmax;
    height: 2vmax;
    margin-left: 10px;
    margin-right: 10px;
}
#calculate:hover {
    cursor: pointer;
    width: 13vmax;
    height: 2vmax;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}


#clear {
    height: 2vmax;
    width: 10vmax;
    cursor: pointer;
}

#clear:hover {
    height: 2vmax;
    width: 10vmax;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.gender input {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}


#result {
    width: 20vmax;
    height: 2vmax;
    margin-top: 2vmax;
    background-color: white;
    color: black;
    margin-left: 20px;
    border-radius: 5px;
}

.table {
    background-color: azure;
    margin-top: 20px;
}

table {
    border: 1px solid black ;
    width: 100%;
    height: 100%;
    color: blue;
    font-weight: 400;
}

table thead  {
    border: 1px solid black ;
   
}